extends ./template.jade

block title
  title Anunţul a fost plasat cu succes!

block content
  .row
    .ad-posted.alert.alert-success.col-xs-12.col-sm-12.col-md-12.text-center
      | Stimate utilizator, anunţul&nbsp;
      span.new-ad-url
        a(href="#{ url }") #{ adTitle }
      |  a fost postat cu succes!
